{% load staticfiles %}
<html lang="en">
<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="" href="{%static 'googlecalendar/style.css' %}"/>


    <title>My Events</title>
    <style>
    #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    }

    ul.days li:hover{
        background-color:yellow;
    }
    ul.days li:active{
    font-color: red;
    }


    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

{% if Calendar_list %}
<h1>CSS Calendar</h1>

<div class="month">
    <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>
            July<br>
            <span style="font-size:18px">2018</span>
        </li>
    </ul>
</div>

<ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
</ul>

<ul class="days">
    <li><b>1</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-01" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn1" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal1" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-01" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>2</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-02" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn2" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal2" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-02" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>3</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-03" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}<br>
        <button id="myBtn3" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal3" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-03" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>4</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-04" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn4" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal4" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-04" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>5</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-05" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn5" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal5" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-05" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>6</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-06" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn6" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal6" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-06" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>7</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-07" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn7" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal7" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-07" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>8</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-08" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn8" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal8" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-08" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>9</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-09" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn9" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal9" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-09" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>10</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-10" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn10" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal10" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-10" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>11</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-11" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn11" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal11" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-11" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>12</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-12" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn12" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal12" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-12" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>13</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-13" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn13" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal13" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-13" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>14</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-14" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn14" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal14" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-14" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>15</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-15" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn15" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal15" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-15" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>16</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-16" %}
        {{Calendar.title}}

        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn16" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal16" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-16" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>17</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-17" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn17" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal17" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-17" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>18</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-18" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn18" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal18" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-18" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>19</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-19" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn19" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal19" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-19" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>20</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-20" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn20" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal20" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-20" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>21</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-21" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn21" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal21" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-21" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>22</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-22" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn22" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal22" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-22" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>23</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-23" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn23" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal23" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-23" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>24</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-24" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn24" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal24" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-24" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>25</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-25" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn25" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal25" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-25" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>26</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-26" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn26" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal26" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-26" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>27</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-27" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn27" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal27" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-27" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>28</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-28" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn28" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal28" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-28" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>29</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-29" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn29" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal29" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-29" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>30</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-30" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn30" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal30" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-30" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>
    <li><b>31</b><br>
        {% for Calendar in Calendar_list %}
        {% if Calendar.date == "2018-07-31" %}
        {{Calendar.title}}
        {% endif %}
        {% endfor %}
        <br>
        <button id="myBtn31" class="btn btn-primary btn-sm">detail</button>
        <form>
            <input type="button" class="btn btn-secondary btn-sm" value="create" onclick="window.location.href='http://localhost:8000/googlecalendar/new/'"/>
        </form>
        <div id="myModal31" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> {% for Calendar in Calendar_list %}
                    {% if Calendar.date == "2018-07-31" %}
                    <b>{{Calendar.title}}</b><br>
                    location : {{Calendar.location}}<br>
                    attendee : {{Calendar.attendee}}<br>
                    response : {{Calendar.response}}<br>
                    <br>
                    {% endif %}
                    {% endfor %}</p>
            </div>
        </div>
        <br></li>

</ul>
<br>
<a href="{% url "social:begin" "google-oauth2" %}"><button class="btn btn-danger" style="width: 20%">Google Login</button></a>

<br>
<h2>
    These are your events from Google Calendar.
</h2>
    <table id = "customers">
        <tr>
            <th>date</th>
            <th>title</th>
            <th>location</th>
            <th>attendees</th>
            <th>response</th>
        </tr>
        {% for i in Calendar_list %}
        <tr>
            <td>{{i.date}}</td>
            <td>{{i.title}}</td>
            <td>{{i.location}}</td>
            <td>{{i.attendee}}</td>
            <td>{{i.response}}</td>
        </tr>
        {%endfor%}
    </table>
{% endif %}
<br>

    <h3>Please input your events here~</h3>
    <form method="POST" >
        {%csrf_token%}
        <b>{{form.as_p}}</b>
        <button type="submit" class="btn btn-success">Create Events</button>
        <input type="button" value="Go Back" class="btn btn-secondary" onclick="history.back();">
    </form>
<script>
    // Get the modal
    var modal1 = document.getElementById('myModal1');
    var modal2 = document.getElementById('myModal2');
    var modal3 = document.getElementById('myModal3');
    var modal4 = document.getElementById('myModal4');
    var modal5 = document.getElementById('myModal5');
    var modal6 = document.getElementById('myModal6');
    var modal7 = document.getElementById('myModal7');
    var modal8 = document.getElementById('myModal8');
    var modal9 = document.getElementById('myModal9');
    var modal10 = document.getElementById('myModal10');
    var modal11 = document.getElementById('myModal11');
    var modal12 = document.getElementById('myModal12');
    var modal13 = document.getElementById('myModal13');
    var modal14 = document.getElementById('myModal14');
    var modal15 = document.getElementById('myModal15');
    var modal16 = document.getElementById('myModal16');
    var modal17 = document.getElementById('myModal17');
    var modal18 = document.getElementById('myModal18');
    var modal19 = document.getElementById('myModal19');
    var modal20 = document.getElementById('myModal20');
    var modal21 = document.getElementById('myModal21');
    var modal22 = document.getElementById('myModal22');
    var modal23 = document.getElementById('myModal23');
    var modal24 = document.getElementById('myModal24');
    var modal25 = document.getElementById('myModal25');
    var modal26 = document.getElementById('myModal26');
    var modal27 = document.getElementById('myModal27');
    var modal28 = document.getElementById('myModal28');
    var modal29 = document.getElementById('myModal29');
    var modal30 = document.getElementById('myModal30');
    var modal31 = document.getElementById('myModal31');





    // Get the button that opens the modal
    var btn1 = document.getElementById("myBtn1");
    var btn2 = document.getElementById("myBtn2");
    var btn3 = document.getElementById("myBtn3");
    var btn4 = document.getElementById("myBtn4");
    var btn5 = document.getElementById("myBtn5");
    var btn6 = document.getElementById("myBtn6");
    var btn7 = document.getElementById("myBtn7");
    var btn8 = document.getElementById("myBtn8");
    var btn9 = document.getElementById("myBtn9");
    var btn10 = document.getElementById("myBtn10");
    var btn11 = document.getElementById("myBtn11");
    var btn12 = document.getElementById("myBtn12");
    var btn13 = document.getElementById("myBtn13");
    var btn14 = document.getElementById("myBtn14");
    var btn15 = document.getElementById("myBtn15");
    var btn16 = document.getElementById("myBtn16");
    var btn17 = document.getElementById("myBtn17");
    var btn18 = document.getElementById("myBtn18");
    var btn19 = document.getElementById("myBtn19");
    var btn20 = document.getElementById("myBtn20");
    var btn21 = document.getElementById("myBtn21");
    var btn22 = document.getElementById("myBtn22");
    var btn23 = document.getElementById("myBtn23");
    var btn24 = document.getElementById("myBtn24");
    var btn25 = document.getElementById("myBtn25");
    var btn26 = document.getElementById("myBtn26");
    var btn27 = document.getElementById("myBtn27");
    var btn28 = document.getElementById("myBtn28");
    var btn29 = document.getElementById("myBtn29");
    var btn30 = document.getElementById("myBtn30");
    var btn31 = document.getElementById("myBtn31");

    // Get the <span> element that closes the modal
    var span1 = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close")[1];
    var span3 = document.getElementsByClassName("close")[2];
    var span4 = document.getElementsByClassName("close")[3];
    var span5 = document.getElementsByClassName("close")[4];
    var span6 = document.getElementsByClassName("close")[5];
    var span7 = document.getElementsByClassName("close")[6];
    var span8 = document.getElementsByClassName("close")[7];
    var span9 = document.getElementsByClassName("close")[8];
    var span10 = document.getElementsByClassName("close")[9];
    var span11 = document.getElementsByClassName("close")[10];
    var span12 = document.getElementsByClassName("close")[11];
    var span13 = document.getElementsByClassName("close")[12];
    var span14 = document.getElementsByClassName("close")[13];
    var span15 = document.getElementsByClassName("close")[14];
    var span16 = document.getElementsByClassName("close")[15];
    var span17 = document.getElementsByClassName("close")[16];
    var span18 = document.getElementsByClassName("close")[17];
    var span19 = document.getElementsByClassName("close")[18];
    var span20 = document.getElementsByClassName("close")[19];
    var span21 = document.getElementsByClassName("close")[20];
    var span22 = document.getElementsByClassName("close")[21];
    var span23 = document.getElementsByClassName("close")[22];
    var span24 = document.getElementsByClassName("close")[23];
    var span25 = document.getElementsByClassName("close")[24];
    var span26 = document.getElementsByClassName("close")[25];
    var span27 = document.getElementsByClassName("close")[26];
    var span28 = document.getElementsByClassName("close")[27];
    var span29 = document.getElementsByClassName("close")[28];
    var span30 = document.getElementsByClassName("close")[29];
    var span31 = document.getElementsByClassName("close")[30];


    // When the user clicks the button, open the modal
    btn1.onclick = function() {
        modal1.style.display = "block";
    }
    btn2.onclick = function() {
        modal2.style.display = "block";
    }
    btn3.onclick = function() {
        modal3.style.display = "block";
    }
    btn4.onclick = function() {
        modal4.style.display = "block";
    }
    btn5.onclick = function() {
        modal5.style.display = "block";
    }
    btn6.onclick = function() {
        modal6.style.display = "block";
    }
    btn7.onclick = function() {
        modal7.style.display = "block";
    }
    btn8.onclick = function() {
        modal8.style.display = "block";
    }
    btn9.onclick = function() {
        modal9.style.display = "block";
    }
    btn10.onclick = function() {
        modal10.style.display = "block";
    }
    btn11.onclick = function() {
        modal11.style.display = "block";
    }
    btn12.onclick = function() {
        modal12.style.display = "block";
    }
    btn13.onclick = function() {
        modal13.style.display = "block";
    }
    btn14.onclick = function() {
        modal14.style.display = "block";
    }
    btn15.onclick = function() {
        modal15.style.display = "block";
    }
    btn16.onclick = function() {
        modal16.style.display = "block";
    }
    btn17.onclick = function() {
        modal17.style.display = "block";
    }
    btn18.onclick = function() {
        modal18.style.display = "block";
    }
    btn19.onclick = function() {
        modal19.style.display = "block";
    }
    btn20.onclick = function() {
        modal20.style.display = "block";
    }
    btn21.onclick = function() {
        modal21.style.display = "block";
    }
    btn22.onclick = function() {
        modal22.style.display = "block";
    }
    btn23.onclick = function() {
        modal23.style.display = "block";
    }
    btn24.onclick = function() {
        modal24.style.display = "block";
    }
    btn25.onclick = function() {
        modal25.style.display = "block";
    }
    btn26.onclick = function() {
        modal26.style.display = "block";
    }
    btn27.onclick = function() {
        modal27.style.display = "block";
    }
    btn28.onclick = function() {
        modal28.style.display = "block";
    }
    btn29.onclick = function() {
        modal29.style.display = "block";
    }
    btn30.onclick = function() {
        modal30.style.display = "block";
    }
    btn31.onclick = function() {
        modal31.style.display = "block";
    }


    // When the user clicks on <span> (x), close the modal
    span1.onclick = function() {
            modal1.style.display = "none";
    }
    span2.onclick = function() {
            modal2.style.display = "none";
    }
    span3.onclick = function() {
            modal3.style.display = "none";
    }
    span4.onclick = function() {
            modal4.style.display = "none";
    }
    span5.onclick = function() {
            modal5.style.display = "none";
    }
    span6.onclick = function() {
            modal6.style.display = "none";
    }
    span7.onclick = function() {
            modal7.style.display = "none";
    }
    span8.onclick = function() {
            modal8.style.display = "none";
    }
    span9.onclick = function() {
            modal9.style.display = "none";
    }
    span10.onclick = function() {
            modal10.style.display = "none";
    }
    span11.onclick = function() {
            modal11.style.display = "none";
    }
    span12.onclick = function() {
            modal12.style.display = "none";
    }
    span13.onclick = function() {
            modal13.style.display = "none";
    }
    span14.onclick = function() {
            modal14.style.display = "none";
    }
    span15.onclick = function() {
            modal15.style.display = "none";
    }
    span16.onclick = function() {
            modal16.style.display = "none";
    }
    span17.onclick = function() {
            modal17.style.display = "none";
    }
    span18.onclick = function() {
            modal18.style.display = "none";
    }
    span19.onclick = function() {
            modal19.style.display = "none";
    }
    span20.onclick = function() {
            modal20.style.display = "none";
    }
    span21.onclick = function() {
            modal21.style.display = "none";
    }
    span22.onclick = function() {
            modal22.style.display = "none";
    }
    span23.onclick = function() {
            modal23.style.display = "none";
    }
    span24.onclick = function() {
            modal24.style.display = "none";
    }
    span25.onclick = function() {
            modal25.style.display = "none";
    }
    span26.onclick = function() {
            modal26.style.display = "none";
    }
    span27.onclick = function() {
            modal27.style.display = "none";
    }
    span28.onclick = function() {
            modal28.style.display = "none";
    }
    span29.onclick = function() {
            modal29.style.display = "none";
    }
    span30.onclick = function() {
            modal30.style.display = "none";
    }
    span31.onclick = function() {
            modal31.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal18) {
            modal18.style.display = "none";
        }
        else if (event.target == modal19) {
            modal19.style.display = "none";
        }
        else if (event.target == modal20) {
            modal20.style.display = "none";
        }
    }

</script>
</body>
</html>